PORT=4200
DEMO_BASE_URL=http://127.0.0.1:4200
IAM_BASE_URL=http://127.0.0.1:4100
DEMO_AUTH_MODE=oauth
IAM_APP_KEY=<copy-from-feishu-iam-application-detail>
IAM_APP_SECRET=<copy-once-from-application-create-response>
IAM_API_SECRET=<copy-once-from-application-create-response>
